.container {
  background: rgb(7,186,246) !important;
  background: radial-gradient(circle, rgba(7,186,246,1) 0%, rgba(0,22,69,0.6414275182729341) 100%) !important; 
  padding: 0 !important;
}

.container2 {
  background: rgb(7,186,246) !important;
  background: radial-gradient(circle, rgba(7,186,246,1) 0%, rgba(0,22,69,0.6414275182729341) 100%) !important; 
  padding: 0 !important;
  display: block;
  overflow: auto;
}

.navbar {
  background: rgb(0,22,69);
  background: linear-gradient(90deg, rgba(0,22,69,1) 43%, rgba(7,186,246,1) 100%);
}
.cardContainer {
  max-width: 540px;
  position: relative;

}

.center {
  height: 100vh;
    margin: auto;
    width: 40%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  @media screen and (max-width: 992px) {
    .center {
      margin: auto;
      width: 70%;
      padding-top: 5%;
      padding-bottom: 5%;
    }
  }

  @media screen and (max-width: 768px) {
    .center {
      margin: auto;
      width: 95%;
      padding-top: 5%;
      padding-bottom: 5%;
    }
  }
  .test {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }  
  .navbar-text {
    color: azure;
    font-weight: bolder;
  }
